* {
	font-size: 2vw;
	box-sizing: border-box;
}

body {
	margin: 0px;
}
	
img {
	max-width:100%;
	hight: auto;
	max-width:100%;
}

p {
	background-color: white;
	padding: 5px;
	font-size: 2vw;
	text-align:justify;
	
}

i {
	color: white;
	font-size: 22px;
}

form {
	margin: 10px;
}

article  {
	padding: 10px;
	text-align:center;
	background-color: hsl(0, 0%, 80%);
}

a:link, a:visited {
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
}

header {
	text-align: center;
	padding: 30px;
	font-size: 30px;
	background: url('wallpaper.jpg') no-repeat center center;
	background-size: cover;
}

nav {
	background-color: hsl(0, 0%, 25%);
}

section {
	margin: 5px;
}

footer{
	text-align: center;
}

#like{
	width: auto;
	height: 18px;
	text-align: center;
	margin: 0px
}

.link {
	color:white;
}

.visit {
	color: white;
	background-color: hsl(240, 100%, 80%);
}

@media screen and (max-width: 800px) {
	.link, .visit{
    width: 100%;
	hight: auto;
  }
}